<div style="text-align: center">
  <h1>
    Phrase And Character Application
  </h1>
</div>
<div style="text-align: center">
<nav>
  <table align="center">
    <tr>
      <th><a routerLink="/phrase" routerLinkActive="active">Phrases </a> </th><span>&nbsp;</span><span>&nbsp;</span>
      <th><a routerLink="/character" routerLinkActive="active">Characters</a></th><span>&nbsp;</span><span>&nbsp;</span>
      <th><a routerLink="/addphrase" routerLinkActive="active">Add Phrase</a></th><span>&nbsp;</span><span>&nbsp;</span>
      <th><a routerLink="/addcharacter" routerLinkActive="active">Add Character</a></th>
    </tr>
  </table>
</nav>
</div>




<router-outlet></router-outlet>
